// About Section
.why-list {
	display: flex;
	gap: 15px;
	.icon {
		width: 40px;
		line-height: 1.3;
		font-size: 32px;
		@extend %gradient-color;
		background-image: var(--gradient-base);
	}
	p {
		font-size: 15px;
	}
}
// About Section


.custom-progress circle {
	fill: none;
	stroke: url(#GradientColor);
	stroke-width: 5px;
}
