.ticket-card {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 25px hsl(var(--dark)/.03);
	&__header {
		border-bottom: 1px solid hsl(var(--border));
		padding: 15px 30px;
		@include breakpoint(max-md) {
			padding: 13px 25px;
		}
		@include breakpoint(max-xs) {
			padding: 13px 20px;
		}
	}
	&__body {
		padding: 30px;
		@include breakpoint(max-md) {
			padding: 25px;
		}
		@include breakpoint(max-xs) {
			padding: 20px;
		}
	}
}
